.keyboard-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 60dvh;
}

.keyboard-section > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 15px;
  font-family: Hanken Grotesk, Inter, sans-serif;
  background-color: rgb(252, 186, 41);
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  cursor: pointer;
}

.keyboard-section > button.correct {
  background-color: #10a95b;
}

.keyboard-section > button.wrong {
  background-color: #e94f3a;
  color: white;
  pointer-events: none; /* Prevents clicking */
}

button:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}