main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  min-height: 90dvh;
  padding: 2rem;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  main {
    gap: 1rem; 
    padding: 1rem;
  }

  body {
    line-height: 1.4;
  }
}
